doctype html
html
  head
    title RPE Mock Endpoint
    link(rel='stylesheet', href='/css/app.css')
  body
    div.container
      div.row
        div(id="navigation")
        div.jumbotron(id="pdf")
          div(id="pdfdropzone")
        div.jumbotron(id="zip")
          div(id="zipdropzone")
    script(src="/js/vendor.js")
    script(src="/js/app.js")
