
/node_modules/*
*.class
*.project
*.settings/*
*.idea/*
*.log
*.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
